@model IEnumerable< ExportAvgPricePerSqmDto>
@{
    ViewData["Title"] = "AvgaragePricesPerNeighbourhood";
    
    int count=1;
}

<h1 class = "text-center">Avarage Price Per Neighbourhood</h1>

<table class="table table-striped table-bordered" >

    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var entry in Model)
        {
            <tr>
                <th scope="row">@(count++)</th>
                <td>@entry.Name</td>
                <td>@entry.Price €</td>

            </tr>
        }


    </tbody>
</table>

