@model PropertyResultViewModel
@{
    ViewData["Title"] = "PropertyResult";
   
}





    <div class="align-content-center" >
    <h1 class="alert-info border-info align-content-md-stretch align-items-md-center text-center">Avarage Price Per Square Meter</h1>
<h2 class= "align-baseline text-center">Avarage Price per Square Meter is: @Model.result.ToString("f2")</h2>
</div>




